body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div.app {
  width: 100%;
  width: 100%;
  position: relative;
  min-height: 100vh;
  padding-bottom: 5rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: var(--red);
}

header nav {
  display: flex;
  gap: 1rem;
  font-size: 24px;
  margin-right: 1rem;
}

header nav * {
  color: white;
  text-decoration: none;
}

header nav *:hover {
  text-decoration: underline;
}

footer {
  background: #1a3a15;
  color: white;
  height: 4.5rem;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: inherit;
}

footer p {
  font-size: 24px;
  padding-left: 1rem;
}